/.sconsign.dblite
/kbuild.*
/Linux-*
/Darwin-*
/build
*~
*.o
/*.kdev*
*.cmake
*.txt
*.make
*.marks
*.includecache
*.internal
*.kdev4
*.bin
*.check_cache
*.out
*.log
/[Bb]in
/CMakeFiles
Makefile
/src/doc/*
/extern/freeglut-2.8.0-1
/extern/swigwin-2.0.4
/extern/zlib-1.2.8
